<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div th:replace="index.html :: imports"></div>
</head>
<body>
<div th:replace="index.html :: header"></div>
<table class="table" table-striped>
    <thead>
    <tr>
        <th scope="col">Type</th>
        <th scope="col">IsExpired</th>
        <th scope="col">IsAvailable</th>
        <th scope="col"># Used</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="subscription : ${subscriptions}">
        <td th:text=" ${subscription.getName()}"></td>
        <td th:text=" ${subscription.isExpired()}"></td>
        <td th:text=" ${subscription.isAvailable()}"></td>
        <td th:text=" ${subscription.getTimesUsed()}"></td>
    </tr>
    </tbody>
</table>

<div id="addSubscription">
    <form th:action="@{/AddSubscription}" method="post">
        <div add=" ADD Subscription">
            <div class="form-group">
                <label for="subscription">Select Subscription:</label>
                <select class="form-control" id="subscription" name="subscription">
                    <option>Pay As You Go</option>
                    <option>Annual Subscription</option>
                    <option>Month Subscription</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Add Subscription</button>
    </form>
</div>
</body>
</html>